<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>現在地を地図に表示</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api }}"></script>
</head>

<body>
    <!-- タイトルを変更し、「助」と「マル」を赤色に -->
    <h1>
        旅の<span class="highlight">助</span>ジュール<span class="highlight">マル</span>投げ
    </h1>

    <!-- サブタイトルを追加し、「助マル」を赤色に -->
    <h3>
        最適な旅行計画を自動でオーダーメイド<br>
        <span class="highlight">助マル</span>であなただけのガイドブックを作ろう！
    </h3>

    <!-- ボタンを並列表示 -->
    <div class="button-container">
        <button id="plan-button" class="button-magenta">旅行計画を立てる</button>
        <button id="facility-button" class="button-cyan">周辺施設を探す</button>
    </div>

    <!-- 地図を表示するエリア -->
    <div id="map"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
